.about {
    .container.introCopy {
        padding-bottom: 150px;
    }
    .header {
        background-image: url(/images/skills.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}
