@import '../../scss/globals';

footer.end{
	height: 150px;
	position: absolute;
	bottom: 0;
	background-color: $darkBlue;
	width: 100%;
	color: #FFF;
	text-align: center;
	ul{
		list-style-type: none;
		padding:0;
		li{
			display: inline-block;
			
		}
	}
	a{
		color: #FFF;
		text-decoration: underline;
	}
	
}